/* ************************************************************************
GENERAL
************************************************************************* */

.wrap{
	width: 90%;
	max-width:1068px;
	margin: auto;
}
/*Set PDF in Modal to fit full width*/
.reveal iframe{
    height: 100%;
    width: 100%;
}

.reveal {
    height: 95%;
    width: 95%;
}








/*Footer*/
main{
  padding: 20px;
  background-color: #234;
}
footer{
  height:50px;
  margin-top:50px;
  background-color: #222;
}

footer h4{
    color: rgba(255,255,255,.8);
}