/* ************************************************************************
GENERAL
************************************************************************* */



.wrap{
	width: 90%;
	max-width:1068px;
	margin: auto;
}
/*Set PDF in Modal to fit full width*/
.reveal iframe{
    height: 100%;
    width: 100%;
}

.reveal {
    height: 95%;
    width: 95%;
}

.special.column{
	padding: 0px;
	margin: auto;
	display: block;
}






/*Footer*/
footer{
  height:50px;
  margin-top:50px;
  background-color: #222;
}

footer h4{
    color: rgba(255,255,255,.8);
}
footer column{
  background-color: #;
}

.specials { 
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding:0px;
  margin:0px;
}